@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #4070f4;
  --panel-color: #fff;
  --text-color: #000;
  --black-light-color: #747474;
  --border-color: #e6e5e5;
  --toggle-color: #ddd;
  --box1-color: #c1dfff;
  --box2-color: #fff3d7;
  --box3-color: #efe1fd;
  --title-icon-color: #fff;

  --tran-04: all 0.4s ease;
  --tran-03: all 0.3s ease;
  --tran-02: all 0.2s ease;
}

body {
  width: 100%;
  height: 100vh;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  z-index: 1;
  transform: var(--tran-04);
  overflow-y: auto;
  border-right: 1px solid var(--border-color);
  background-color: var(--panel-color);
}

nav .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
  margin-top: 20px;
  overflow: auto;
}

nav .logo {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .logo .logo-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6f63fe;
}

nav .logo .logo-icon span {
  font-size: 20px;
  font-weight: 800;
  font-family: "Anta", sans-serif;
  font-style: normal;
  color: white;
}

nav .logo .logo-name {
  margin-left: 15px;
  font-size: 20px;
  font-weight: 800;
}

#first-list {
  list-style: none;
  margin: 20px 0 20px -40px;
}

#second-list {
  list-style: none;
  border-top: 1px solid var(--border-color);
}

nav .nav-item {
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

nav li#lgt.nav-item {
  margin-top: 5px;
}

nav .nav-item .nav-link {
  text-decoration: none;
  margin-left: 10px;
  display: flex;
  align-items: center;
  color: var(--black-light-color);
}

nav .nav-item a::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: none;
  background-color: #4070f4;
}

nav .nav-item a:hover::before {
  display: inline;
}

nav .nav-item a:hover {
  color: var(--primary-color);
}

nav .nav-item i {
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-item span {
  margin-left: 15px;
  font-size: 15px;
}

nav .nav-item .toggle-btn {
  position: relative;
  top: 0;
  left: 15px;
  width: 40px;
  height: 21px;
  border-radius: 30px;
  background-color: var(--toggle-color);
}

nav .nav-item .toggle-btn .round-btn {
  position: absolute;
  top: 3px;
  left: 3px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--panel-color);
}

.dashboard {
  position: absolute;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  min-height: 100%;
  padding-left: 20px;
}

.dashboard .top-level {
  position: relative;
  top: 15px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  padding: 0 20px;
  background-color: var(--panel-color);
}

.dashboard .top-level .sidebar-btn {
  font-size: 25px;
  cursor: pointer;
}

.dashboard .top-level .search {
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 20px;
  margin: 0 20px;
  color: var(--black-light-color);
}

.dashboard .top-level .search i {
  position: absolute;
  align-items: center;
  font-size: 15px;
  padding: 0 20px;
}

.dashboard .top-level input {
  height: 100%;
  width: 100%;
  padding: 0 50px;
  font-size: 15px;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.dashboard .top-level img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dashboard .card-container {
  position: relative;
  top: 30px;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
}

.section {
  display: flex;
}

.section i {
  font-size: 20px;
  height: 30px;
  width: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  background-color: var(--primary-color);
}

.section span {
  font-size: 20px;
  font-weight: 600;
}

.card-container .three-card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px 0;
}

.card-container .card {
  width: 280px;
  height: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container .card-1 {
  background-color: var(--box1-color);
}

.card-container .card-2 {
  background-color: var(--box2-color);
}

.card-container .card-3 {
  background-color: var(--box3-color);
}

.card-container .card i {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.card-container .card .total {
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container .card .count {
  font-size: 40px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container .details table {
  margin-top: 25px;
  width: 100%;
}

.card-container .details th,
.card-container .details td {
  text-align: start;
  padding-bottom: 12px;
}

.card-container .details th {
  font-size: 18px;
  font-weight: 500;
}

.card-container .details td {
  color: var(--black-light-color);
  font-weight: 500;
}

@media (min-width: 901px) and (max-width: 1210px) {
  .card-container .three-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .card-container .three-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  /* .card-container .three-card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px 0;
  } */

  .card-container .card {
    width: 100%;
  }

  .dashboard .card-container .details {
    overflow-x: auto;
  }

  .card-container .details table {
    border-spacing: 0 20px;
    width: 650px;
  }
}

@media (max-width: 600px) {
  /* nav {
    opacity: 1;
  } */

  nav.close {
    /* opacity: 0; */
    width: 0;
    transform: var(--tran-04);
  }

  /* nav .container .logo > span,
  nav .nav-item span,
  #second-list .nav-item i.fa-moon {
    display: none;
  } */

  /* #first-list {
    margin: 20px 0 20px -13px;
  }

  #second-list {
    margin-left: -13px;
    border: 0;
  } */

  /* nav .nav-item .toggle-btn {
    position: relative;
    top: 0;
    left: 0;
  } */

  .masking {
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    bottom: 0;
    z-index: 1;
    /* width: calc(100vw - 250px);
    height: 100%; */
    background-color: rgba(0, 0, 0, 0.45);
  }

  nav .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
    margin-top: 20px;
    overflow: auto;
  }

  .dashboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  nav.close ~ .dashboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    padding-left: 20px;
  }

  .dashboard .top-level input {
    font-size: 15px;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 10px;
  }

  .card-container .three-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .card-container .card {
    width: 100%;
  }

  .dashboard .card-container .details {
    overflow-x: auto;
  }

  .card-container .details table {
    border-spacing: 0 20px;
    width: 650px;
  }
}

@media (max-width: 470px) {
  .dashboard .top-level input::placeholder {
    opacity: 0;
  }
}
